# تجاهل البيئة الافتراضية (مهم جداً للحجم)
venv/
.venv/
env/

# تجاهل قواعد البيانات المحلية
database/vector_db/

# تجاهل إعدادات الإضافات في VS Code
.vscode/
__pycache__/
*.pyc

# تجاهل ملفات الإعدادات السرية
.env