torch
transformers==4.55.4

sentencepiece
sentence-transformers
faiss-cpu

accelerate==1.10.0
safetensors

numpy==1.26.4
pandas
scikit-learn
joblib

pydantic
fastapi
uvicorn
httpx

google-generativeai

datasets
nest_asyncio